<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= yield_content :title %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <header>
    <a href="/">
      <img src="/Ruby_logo.svg" alt="ruby logo" height="20" width="20" />
      <span>ruBnB</span>
    </a>
    <!-- conditional based on login status -->
    <%if session[:user]==nil %>
      <div>
        <a href="/">Home</a>
        <a href="/spaces">View spaces</a>
        <a href="/login">Log in</a>     
        <a href="/signup">Sign up</a>
      </div>
      <% else %>
        <div>
          <a href="/">Home</a>
          <a href="/my_spaces">My spaces</a>
          <a href="/bookings">My bookings</a>
          <a href="/spaces">View all spaces</a>
          <a href="/spaces/new">List a new space</a>
          <a href="/logout">Log out</a>
        </div>

        <% end %>

  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <img src="/Ruby_logo.svg" alt="ruby logo" height="20" width="20" />
    <p>Team ruBnB - Caroline, George, Jack, Michael, Sarah & Will</p>
    <img src="/Ruby_logo.svg" alt="ruby logo" height="20" width="20" />
  </footer>
</body>

</html>