<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up | ruBnB</title>
  </head>
  <body>
    <form method="POST" action="/signup">
      <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="eg: Jack Skates"> 
      </div>

      <div>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="eg BigJack2000">
      </div>

      <div>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="eg: jack@gmail.com">
      </div>

      <div>
      <label for="password">Email</label>
      <input type="text" name="password" placeholder="eg supersecret12321">
      </div>

      <div>
      <button type="submit">Sign Up Now!</button>
      </div>
      </form>
  </body>
</html>