<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up | ruBnB</title>
  </head>
  <body>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <form method="POST" action="/signup">
      <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="eg: Jack Skates"> 
      </div>

      <div>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="eg BigJack2000"
        pattern="^[A-Za-z0-9]+$" oninvalid="alert('Username has to contain alphanumeric characters only')">
      </div>

      <div>
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="eg: jack@gmail.com"
        pattern="^([a-zA-Z0-9_\.-]+)@([\da-zA-Z\.-]+)\.([a-zA-Z\.]+)$" oninvalid="alert('Email format invalid')">
      </div>

      <div>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="eg supersecret12321"
        minlength=6 oninvalid="alert('Password has to be at least 6 characters long')">
      </div>

      <div>
      <button type="submit">Sign Up Now!</button>
      </div>
      </form>
  </body>
</html>