<%= @space.name %> <br>
<%= @space.description %> <br>


Availability: <%= @space.availability %>

<form method = 'POST' action = '/book-a-space'>
<input type = 'hidden' name = 'id' value = <%= @space.id%> >
<input type = 'submit' value = 'book'>
</form>

