* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}

input {
  font: inherit;
}

a {
  text-decoration: none;
  color: darkred;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header span {
  font-size: 1.5rem;
}

header a+a {
  margin-left: 0.5rem;
}

main {
  flex: 1;
  padding-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0 0.5rem;
}

.alert-box {
  color: red;
}

.container {
  display: flex;
  align-items: center;
}

.availability p {
  margin: 0 0.5rem 0 0;
}

.availability-container {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  max-width: 400px;

}

.unavailable {
  color: grey;
  text-decoration: line-through;
}