* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}

input {
  font: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header span {
  font-size: 1.5rem;
}

header a + a {
  margin-left: 0.5rem;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0 0.5rem;
}
